---
const personalImageAlt = "José Antonio León López";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo José Antonio León López. Mi pasión por la programación viene
      desde pequeño, pero fue en 2022 cuando di el salto profesional, <strong
        >comenzando con un grado superior en desarrollo de aplicaciones web</strong
      >.
    </p>

    <p>
      Actualmente, <strong
        >estoy trabajando en Atos, una multinacional líder en el sector
        tecnológico</strong
      >. Me incorporé a principios de 2023 y estoy involucrado en un proyecto
      puntero sobre IA, donde ayudamos a los clientes a acelerar el desarrollo
      de software y pruebas.
    </p>

    <p>
      Uno de mis logros más significativos ha sido <strong
        >la oportunidad de desarrollar aplicaciones que utilizan IA para hacer
        más efectivas las tareas repetitivas de los clientes y acelerar procesos</strong
      >. Este trabajo está en la vanguardia de la tecnología y me permite crecer
      constantemente como profesional.
    </p>

    <p>
      Aunque me siento cómodo en todas las áreas del desarrollo, <strong
        >mi preferencia se inclina hacia el backend, sin descuidar el frontend y
        el despliegue</strong
      >. Manejo con soltura tecnologías como Java (Spring Boot), Python
      (FastAPI), React, Angular, Express.js, SQL, Docker, Vue.js y Git, entre
      otras.
    </p>

    <p>
      Mi objetivo principal es <strong
        >no dejar nunca de aprender y ponerme retos que me hagan más competente
        en este mundo tecnológico en constante evolución</strong
      >. Creo firmemente en la importancia de estar siempre actualizado y
      enfrentar nuevos desafíos para crecer profesionalmente.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.JPG"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
