---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Julio 2024 - Actual",
    title: "Desarrollador de Software",
    company: "Atos",
    location: "Sevilla, España",
    description:
      "Responsable del desarrollo de soluciones innovadoras con IA y cloud computing. Responsable de la arquitectura y desarrollo de aplicaciones web escalables utilizando tecnologías punteras.",
    highlights: [
      "Implementación de aplicaciones en Google Cloud (Cloud Run, Cloud Build, SQL).",
      "Desarrollo full-stack con FastAPI, React y Vite, optimizando rendimiento y escalabilidad.",
      "Integración de APIs de IA para soluciones personalizadas de alto impacto.",
      "Diseño de arquitecturas de microservicios con Spring Boot y Spring Cloud.",
      "Creación de APIs robustas con Spring Boot y Spring Security."
    ]
  },
  {
    date: "Marzo 2023 - Junio 2024",
    title: "Desarrollador de Software",
    company: "Atos",
    location: "Sevilla, España",
    description:
      "Contribuí significativamente al desarrollo y mantenimiento de aplicaciones críticas para la empresa, mejorando la eficiencia operativa y la experiencia del usuario.",
    highlights: [
      "Optimización de aplicaciones PHP y JavaScript para gestión de reportes a nivel nacional.",
      "Mantenimiento y mejora de una aplicación interna con Spring Boot y Angular.",
      "Implementación de Docker para optimizar el despliegue y la gestión de aplicaciones.",
      "Formación avanzada en Angular y Spring ecosystem, aplicando conocimientos en proyectos reales."
    ]
  },
  {
    date: "Marzo 2022 - Junio 2022",
    title: "Técnico en Microinformática y Redes",
    company: "EUSA",
    location: "Sevilla, España",
    description:
      "Inicié mi carrera profesional gestionando infraestructuras IT y adquiriendo experiencia práctica en tecnologías de virtualización.",
    highlights: [
      "Mantenimiento proactivo de equipos informáticos y redes.",
      "Despliegue de aplicaciones utilizando Docker en entornos de servidor.",
      "Gestión eficiente de inventario IT."
    ]
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
